body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    background: linear-gradient(135deg, #0a0a0a, #1a1a1a);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.triangle-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.triangle {
    position: relative;
    width: 100px;
    height: 100px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: rotate 10s linear infinite;
}

.triangle1 { 
    background: #33C0CB ;
    top: 20%;
    left: 50%;
    animation-duration: 12s; 
    }

.triangle2 {
    background: #7ED956;
    top: 50%; 
    left: 70%; 
    animation-duration: 15s; 
    }

.triangle3 {
    background: #FD7400;
    top: 15%;
    left: 25%;
    animation-duration: 20s;
    }
    
.triangle:hover {
    animation: rotate-move 12s linear infinite;
    }

@keyframes rotate {
        0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(90deg) translate(50px, -30px);
    }
    50% {
        transform: rotate(180deg) translate(-40px, 50px);
    }
    75% {
        transform: rotate(270deg) translate(30px, -50px);
    }
    100% {
        transform: rotate(360deg) translate(0, 0);
    }
}

@keyframes rotate-move {
    0% { transform: rotate(0deg) translate(0, 0); }
    25% { transform: rotate(90deg) translate(50px, -30px); }
    50% { transform: rotate(180deg) translate(-40px, 50px); }
    75% { transform: rotate(270deg) translate(30px, -50px); }
    100% { transform: rotate(360deg) translate(0, 0); }
}

img {
    width: 250px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
    margin-left: 55px;
}

a {
    display: inline-block;
    margin: 10px;
    color: #00bfa6;
    text-decoration: none;
    font-weight: 500;
}
.glass-card {
    position: absolute;
    z-index: 1; /* above triangles */
    background: rgba(253, 253, 253, 0.096);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 40px;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

